{
    "DestinationName": "KNPL_TSS_UserService",
    "OfflineEnabled": false,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}